*{
    font-family: 'Baskervville', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #f2eae4;
    /* background-color: #494c3d; */

}
.header{
    background-image: linear-gradient(transparent 50%, #f2eae4 99%), url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    /* color: #8e5144; */
    color: #bc4a23;
    display: block;
    font-family: 'Bodoni Moda', cursive;
    font-size: 4.7em;
    font-weight: normal;
    letter-spacing: 12px;
    padding-top: 80px;


    /* text-shadow: 0 0 10px #000; */

}
.heading-subtext{
    /* color: #8e5144; */
    display: block;
    font-family: 'Bodoni Moda', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.section-green{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
    background: #494c3d;
}
.sub-heading{
    font-family: 'Bodoni Moda', cursive;
    font-size: 2.5em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    /* opacity: .8; */
    color: #494c3d;
}
.resort-image{
    width: 100%
}
.olive-image{
    margin-top: 50px;
    width: 50%
}
.dot-orange {
    height: 20px;
    width: 20px;
    background-color: #bc4a23;
    border-radius: 50%;
    display: inline-block;
  }
.dot-green {
    height: 20px;
    width: 20px;
    background-color: #494c3d;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-beige {
    height: 20px;
    width: 20px;
    background-color: #c1755b;
    border-radius: 50%;
    display: inline-block;
  }
/* Solid border */
hr.solid {
    border-top: 3px solid #bc4a23;

  }

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }